/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Poppins:regular);
*{
   padding: 0;
   margin: 0;
   border: 0;
}
*,*:before,*:after{
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
	height: 100%;
	font-family: 'Poppins';
	color: #C0C0C0;
	max-width: 100%;
	background-color: rgba(0, 0, 0, 1);
	font-size: 0.875rem;
	line-height: 1.4;
	font-weight: 400;
}
body._lock{
	overflow: hidden;
}
.wrapper {
	min-height:  100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

}
[class*="__container"]{
	max-width: 1190px;
	padding: 0px 15px;
	box-sizing: content-box;
	margin: 0 auto;

}
[class*="__big-container"]{
	max-width: 1315px;
	padding: 0px 15px;
	box-sizing: content-box;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
}
.page{
	
}
/*--------------------------------------------*/
.page__studios {
}


.page__whatwedo {
}
.page__sunset {
}
.page__cage {
}
.page__monstera {
}
.page__clients {
}
.page__strafall {
}
.page__help {
}
/*--------------------------------------------*/
.camera{
	position: absolute;
	bottom: 2.5rem;
	right: 2.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding-left: 5px;
	z-index: 5;
}
.camera li {
	display: flex;
	white-space: nowrap;
	font-size: 12px;
	line-height: 1;
}
.camera li:nth-child(1):before{
	content: url(../image/icons/speed.svg);
	display: inline-block;
	margin-right: 10px;
	height: 1rem;
	width: 1rem;
}
.camera li:nth-child(2):before{
	content: url(../image/icons/f.svg);
	display: inline-block;
	margin-right: 10px;
	height: 1rem;
	width: 1rem;
}
.camera li:nth-child(3):before{
	content: url(../image/icons/iso.svg);
	display: inline-block;
	margin-right: 10px;
	height: 1rem;
	width: 2rem;
}
.camera li:nth-child(4):before{
	content: url(../image/icons/location.svg);
	display: inline-block;
	margin-right: 10px;
	height: 1rem;
	width: 0.625rem;
}

.button{
	padding: 11px 10px 11px 42px;
	font-size: 15px;
	line-height: 1.33;
	letter-spacing: 0.4px;
	color: #000000;
	background-color: #fff;
	border-radius: 14px;
	position: relative;
	transition: all 0.5s ease 0s;
	border: 0.1px solid #fff;
	display: inline-block;
}
.button:hover{
	color: #fff;
	background-color: #000;
}
.button::before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 6px;
	width: 32px;
	height: 32px;
	border-radius: 40%;
	background-color: #000;
	transition: all 0.5s ease 0s;
}
.button:hover::before{
	background-color: #fff;
	transition: all 0.8s ease 0s;
}
@media (max-width: 767.8px){
	.button {
		padding: 7px 10px 7px 37px;
	}
	.button::before{
		width: 26px;
		height: 26px;
	}
}
/*--------------------header------------------------*/
.header {
	z-index: 10;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
}
.header__container {
}
.header__body{
	display: flex;
	align-items: center;
	min-height: 90px;
	column-gap:32px ;
	width: 100%;
	top: 0;
	left: 0;
}
.menu__logo {
}
.header__menu {
	flex: 1 1 auto;
}
.menu {
}
.menu__icon{
	display: none;
}
.menu__logo {
}
.menu__body {
	display: flex;
	justify-content: flex-end;
}
.menu__list {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.33;
	column-gap: 32px;
	row-gap: 3px;
}
.menu__item {
}
.menu__item:first-of-type{
	margin-right: 20px;
	font-size: 0.8125rem;
}
.menu__link {
	color: #fff;
}
.menu__link:hover{
	text-decoration: underline;
}
.menu__buttuon {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	color: #000;
	padding: 11px 20px;
	background-color: #fff;
	border-radius: 14px;
	transition: all 0.3s ease 0s;
}
.menu__buttuon:hover{
	background-color: rgb(202, 202, 202);
	transition: all 0.3s ease 0s;
}

@media (max-width: 991.8px){
	.header__body,
	.menu__list{
		column-gap: 15px;
	}
	.menu__buttuon{
		padding: 8px 15px;
	}
}

@media (max-width: 775.8px){
	.menu__buttuon{
		margin: 0px 50px 0px 0px;
	}
   .menu__icon{
      z-index: 5;
      display: block;
      position: fixed;
		right: 10px;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after{
       right: 0;
       position: absolute;
       height: 10%;
       width: 100%;
       transition: all 0.3s ease 0s;
       background-color: #fff;
   }
   .menu__icon::before,
   .menu__icon::after{
      content: '';
   }
   .menu__icon::before{
      top: 0;
   }
   .menu__icon::after{
      bottom: 0;
   }
   .menu__icon span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span{
      transform: scale(0) translate(0, -50%);
   }
   .menu__icon._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .menu__body{
      position: fixed;
		flex-direction: column;
      top: 0%;
      right: -100%;
      width: 100%;
      height: 100%;
		background-color: rgba(0, 0, 0, 0.897);
      transition: right 0.3s ease 0s;
      overflow: auto;
		justify-content: center;
   }
	
   .menu__body._active{
      right: 0;
   }
   .menu__list {
      flex-direction: column;
      align-items: center;
   }
   .menu__item{
      flex-wrap: wrap;
   }
   .menu__item:last-child{
      margin-bottom: 0;
   }
   .menu__link{
      font-size: 24px;
   }
   .menu__item:not(:last-child){
      margin: 0px 0px 30px 0px;
   }
}
@media (max-width: 419.8px){
	.header__body,
	.menu__list{
		column-gap: 5px;
	}
	.menu__buttuon{
		font-size: 14px;
		padding: 5px 10px;
	}
}

/*-------------------------studios-------------------*/

.studios {
	background: url(../image/Studio/background.png) 0px 0px/cover   fixed;
	background-position: center;
	position: relative;
}
.studios__container {
	height: 100vh;
	display: flex;
	align-items: flex-end;
}
.studios__body {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 600px;
	 margin: 0 auto; 
	 padding-bottom: 6rem;
}
.studios__subtitle {
	letter-spacing: 2px;
	text-transform: uppercase;
}
.studios__title {
	padding-bottom: 1vw;
	font-size: 54px;
	line-height: 1.1;
	color: #FFFFFF;
}

@media (max-width: 767.8px){
	.studios__title {
		font-size: 34px;
	}
}

/*---------------------What we do-----------------------*/

.whatwedo {
	padding: 80px 0px 100px 0px;
}
.whatwedo__container {
}
.whatwedo__header{
	text-align: center;
}
.whatwedo__title {
	font-size: 40px;
	line-height: 1.05;
	margin-bottom: 15px;
	color: #fff;
}
.whatwedo__subtitle {
	font-size: 23px;
	line-height: 1.3;
	margin-bottom: 42px;
}
.whatwedo__body {
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(2, 1fr);
	gap: 15px;
}
.body-whatwedo {
	overflow: hidden;
}
.body-whatwedo__item {
	align-items: center;
	position: relative;
	overflow: hidden;
}
.body-whatwedo__info{
	padding: 0px 5px 30px 30px;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 1.43;
	max-width: 500px;
}
.body-whatwedo__title {
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.body-whatwedo__text {
	margin-bottom: 30px;
}
.body-whatwedo__button {
}
.body-whatwedo__image {
	width: 100%;
	
}
.body-whatwedo__image{
	
}
.animatio-odd{
	animation: odd 2s infinite alternate linear;
}
.animatio-even{
	animation: even 2s infinite alternate linear; 
	animation-delay: 1s;
}

@keyframes odd {
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.05);
	}
}
@keyframes even {
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(1.05);
	}
}

@media (max-width: 992px){
	.whatwedo {
		padding: 70px 0px 50px 0px;
	}
	.whatwedo__body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body-whatwedo__info{
		padding: 0px 5px 30px 20px;
	}
}

@media (max-width: 767.8px){
	.whatwedo {
		padding: 20px 0px 30px 0px;
	}
	.whatwedo__title {
		font-size: 28px;
	}
	.whatwedo__subtitle {
		font-size: 18px;
	}
	.body-whatwedo__info{
		padding: 0px 5px 20px 15px;
	}
}
/*---------------------sunset-----------------------*/
.sunset {
	background: url(../image/sunset/sunsetback.png) 0px 0px/cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	min-height: 75vh;
	position: relative;
}

.sunset__body {
	max-width: 300px;
	padding: 0px 0px 0px 5px;
	margin-right: 15vmin;
}
.sunset__title {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 5px;
}
.sunset__text {
}

/*-------------------cage-------------------------*/
.cage {
	position: relative;
	overflow: hidden;
}

.cage__big-container {
	display: flex;
	min-height:60vh;
}
.cage__background {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	z-index: 1;
}

.cage__background img{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.cage__tools {
	padding: 10rem 0;
}
.tools-body {
	color: #FFFFFF;
	z-index: 5;
	max-width: 514px;
}
.tools-body__subtitle {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C0C0C0;
	margin-bottom: 6px;
}
.tools-body__title {
	font-size: 28px;
	line-height: 1.14;
	margin-bottom: 14px;
}
.tools-body__text {
	
	margin-bottom: 20px;
}
.tools-body__button {
}

@media (max-width: 67.25rem){
	.cage__background{
		width: 100%;
		opacity: 0.7;
	}
}

/*------------------monstera--------------------------*/

.monstera {
	background: url(../image/monstera/monstera.png) 0 0/cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 75vh;
	position: relative;
}


.monstera__body {
	max-width: 300px;
	padding: 0px 0px 0px 5px;
	margin-right: 15vmin;
}
.monstera__title {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF
}
.monstera__text {
	
}
.monsterat-items {
}
.item-monstera {
}
.item-monstera__icon {
}
.item-monstera__info {
}
.item-monsterat__icon {
}
.item-monstera__backgroud {
}
/*------------------clients--------------------------*/
.clients {
	padding: 120px 0px 100px 0px;
}
.clients__container {
	text-align: center;

}
.clients__title {
	font-size: 40px;
	line-height: 1.05;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.clients__subtitle {
	font-size: 24px;
	line-height: 1.25;
	margin-bottom: 80px;
}
.clients__items {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(128px,1fr));
	align-items: flex-end;
	gap: 30px;
}
.clients__item {
}

@media (max-width: 767px){
	.clients__title {
		font-size: 28px;
	}
	.clients__subtitle {
		font-size: 18px;
		margin-bottom: 50px;
	}
}

/*----------------starfall----------------------------*/

.strafall {
	background: url(../image/strafall/strafall.png) 0 0/cover;
	background-position: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 75vh;
	position: relative;
}

.strafall__body {
	max-width: 300px;
	padding: 0px 0px 0px 5px;
	margin-right: 15vmin;
}
.strafall__title {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF
}
.strafall__text {
	
}

.item-strafall__backgroud {
	display: flex;
	flex-direction: column;
}
/*-------------------help-------------------------*/

.help {
	padding: 111px 0;
}
.help__container {
	display: flex;
	text-align: center;
	justify-content: center;
}
.help__items {
}
.item-help{
	max-width: 571px;
}
.item-help__title {
	font-size: 40px;
	line-height: 1.05;
	color: #FFFFFF;
	margin-bottom: 15px;
}
.item-help__subtitle {
	font-size: 24px;
	line-height: 1.25;
	margin-bottom: 15px;
}
.item-help__button {
}
@media (max-width: 767.8px){
	.help {
		padding: 111px 0 70px 0;
	}
	.item-help__title {
		font-size: 32px;
	}
}

/*--------------------footer------------------------*/
.footer {
	padding: 100px 0;
	background-color: rgb(5, 5, 5);
}
.footer__container {
}
@media (max-width: 767.8px){
	.footer {
		padding: 50px 0;
	}
}
@media (max-width: 575.8px){
	.footer {
		padding: 20px 0;
	}
}

.footer__top {
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 45px 0px;
}
.footer__top-left {
	padding: 0px 20px 0px 0px;
}
.footer__top-logo{
	margin-bottom: 20px;
}
.footer__top-text {
}
.footer__top-right {
}
.rigth-top {
	display: flex;
	gap: 2rem;
}
.rigth-top__item-first{
	
}
.rigth-top__item{
	margin-bottom: 10px;
}
.rigth-top__item:not(:last-child){
	
}
.rigth-top__item:last-child{
	margin: 0;
}
.rigth-top__title {
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #C0C0C0;
}
.rigth-top__list {

}
.rigth-top__link {
	color: #FFFFFF;
}
.rigth-top__link:hover{
	text-decoration: underline;
}
@media (max-width: 575.8px){
	.footer__top {
		padding: 0px 0px 30px 0px;
		flex-direction: column;
	}
	.footer__top-left {
		padding: 0px 0px 30px 0px;
	}
	.rigth-top__item-first{
		padding: 0px 7vw 0px 0px;
		margin: 0;
	}
}

.footer__middle {
	padding: 35px 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__middle-text {
	padding: 0px 20px 0px 0px;
}
.footer__middle-title {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 20px;
}
.footer__middle-about {
	align-items: center;
}

.footer__middle-form {
	position: relative;
}
.footer__middle-email{
	position: relative;
	width: 100%;
	max-width:24.375rem;;
	
}
.footer__middle-label{
	display: none;
}
.footer__middle-input{
	padding: 20px 80px 20px 10px;
	width: 100%;
	border-radius: 12px;
}
.form-button{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.75rem;
	width: 3.9375rem;
	height: 1.875rem;
	background-color: #000;
	border-radius: 11px;
}


@media (max-width: 575.8px){
	.footer__middle{
		padding: 25px 0;
		flex-direction: column;
	}
	.footer__middle-text {
		padding: 0px 0px 30px 0px;
	}
}

.footer__lower {
	padding: 55px 0px 0 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__lower-copy {
	text-align: center;
	padding: 0px 20px 0px 0px;
}
.footer__lower-list {
	display: flex;
	gap: 1.25rem;
}

.footer__lower-item {
	padding: 0.625rem;
	border-radius: 50%;
}
.footer__lower-link {
}
.footer__lower-link img{
	height: 24px;
}


@media (max-width: 575.8px){

	.footer__lower{
		flex-direction: column;
		padding: 30px 0px 0px 0px;
	}
	.footer__lower-copy {
		padding: 0px 00px 30px 0px;
	}
}