@media (max-width:414px){
	.camera{
		left: 0;
	}
}

@media (max-width: 767.8px){
	.button {
		padding: 7px 10px 7px 37px;
	}
	.button::before{
		width: 26px;
		height: 26px;
	}
}


@media (max-width: 991.8px){
	.header__body,
	.menu__list{
		column-gap: 15px;
	}
	.menu__buttuon{
		padding: 8px 15px;
	}
}


@media (max-width: 767.8px){
	
	.nav-but-wrap{
		display: inline-block;
	}
   .menu__icon{
      z-index: 5;
      display: block;
      position: fixed;
		right: 10px;
      width: 30px;
      height: 18px;
      cursor: pointer;
   }
	body.nav-active .nav__list-item:nth-child(5){
		position: relative;
		left: 4px;
	}
	.nav {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
	}
	.nav:before, .nav:after {
		content: "";
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: rgba(20, 21, 26,0.6);
		border-bottom-left-radius: 200%;
		z-index: -1;
		-webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.6s, border-radius linear 0.8s;
		-webkit-transform: translateX(100%) translateY(-100%);
				 transform: translateX(100%) translateY(-100%);
	}
	.nav:after {
		background: rgba(9,9,12,1);
		-webkit-transition-delay: 0s;
				 transition-delay: 0s;
	}
	.nav:before {
		-webkit-transition-delay: .2s;
				 transition-delay: .2s;
	}
	.nav__content {
		position: fixed;
		visibility: hidden;
		top: 50%;
		-webkit-transform: translate(0%, -50%);
				 transform: translate(0%, -50%);
		width: 100%;
		text-align: center;
	}
	.nav__list {
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 2;
	}
	.nav__list-item {
		position: relative;
		display: block;
		-webkit-transition-delay: 0.8s;
				 transition-delay: 0.8s;
		opacity: 0;
		text-align: center;
		color: #fff;
		overflow: hidden; 
		
		-webkit-transform: translate(100px, 0%);
				 transform: translate(100px, 0%);
		-webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, -webkit-transform .3s ease;
		transition: opacity .2s ease, transform .3s ease;
		transition: opacity .2s ease, transform .3s ease, -webkit-transform .3s ease;
		margin-top: 0;
		margin-bottom: 0;
	}
	.nav__list-item a{ 
		position: relative;
		text-decoration: none;
		overflow: hidden; 
		cursor: pointer;
		z-index: 2;
		display: inline-block;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item a:after{ 
		position: absolute;
		content: '';
		top: 50%;
		margin-top: -2px;
		left: 50%;
		width: 0;
		height: 0;
		opacity: 0;
		background-color: #8167a9;
		z-index: 1;
		 -webkit-transition: all 200ms linear;
		 transition: all 200ms linear; 
	}
	.nav__list-item:not(:last-child) a:hover:after{ 
		height: 4px;
		opacity: 1;
		left: 0;
		width: 100%;
	}
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after{
       right: 0;
       position: absolute;
       height: 10%;
       width: 100%;
       transition: all 0.3s ease 0s;
       background-color: #fff;
   }
   .menu__icon::before,
   .menu__icon::after{
      content: '';
   }
   .menu__icon::before{
      top: 0;
   }
   .menu__icon::after{
      bottom: 0;
   }
   .menu__icon span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span{
      transform: scale(0) translate(0, -50%);
   }
   .menu__icon._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .menu__body{
      position: fixed;
		flex-direction: column;
      top: 0%;
      right: -100%;
      width: 100%;
      height: 100%;
		background-color: rgba(0, 0, 0, 0.897);
      transition: right 0.3s ease 0s;
      overflow: auto;
		justify-content: center;
   }
	
   .menu__body._active{
      right: 0;
   }
   .menu__list {
      flex-direction: column;
      align-items: center;
   }
   .menu__item{
      flex-wrap: wrap;
   }
   .menu__item:last-child{
      margin-bottom: 0;
   }
   .menu__link{
      font-size: 24px;
   }
   .menu__item:not(:last-child){
      margin: 0px 0px 30px 0px;
   }
}
@media (max-width: 419.8px){
	.header__body,
	.menu__list{
		column-gap: 5px;
	}
	.menu__buttuon{
		font-size: 14px;
		padding: 5px 10px;
	}
}

@media (max-width: 767.8px){
	.studios__title {
		font-size: 34px;
	}
}

@media (max-width: 992px){
	.whatwedo {
		padding: 70px 0px 50px 0px;
	}
	.whatwedo__body{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.body-whatwedo__info{
		padding: 0px 5px 30px 20px;
	}
}

@media (max-width: 767.8px){
	.whatwedo {
		padding: 20px 0px 30px 0px;
	}
	.whatwedo__title {
		font-size: 28px;
	}
	.whatwedo__subtitle {
		font-size: 18px;
	}
	.body-whatwedo__info{
		padding: 0px 5px 20px 15px;
	}
}


@media (max-width: 67.25rem){
	.cage__background{
		width: 100%;
		opacity: 0.7;
	}
}

@media (max-width: 767px){
	.clients__title {
		font-size: 28px;
	}
	.clients__subtitle {
		font-size: 18px;
		margin-bottom: 50px;
	}
}

@media (max-width: 767.8px){
	.help {
		padding: 111px 0 70px 0;
	}
	.item-help__title {
		font-size: 32px;
	}
}

@media (max-width: 767.8px){
	.footer {
		padding: 50px 0;
	}
}
@media (max-width: 575.8px){
	.footer {
		padding: 20px 0;
	}
}

@media (max-width: 575.8px){
	.footer__top {
		padding: 0px 0px 30px 0px;
		flex-direction: column;
	}
	.footer__top-left {
		padding: 0px 0px 30px 0px;
	}
	.rigth-top__item-first{
		padding: 0px 7vw 0px 0px;
		margin: 0;
	}
}

@media (max-width: 575.8px){
	.footer__middle{
		padding: 25px 0;
		flex-direction: column;
	}
	.footer__middle-text {
		padding: 0px 0px 30px 0px;
	}
}

@media (max-width: 575.8px){

	.footer__lower{
		flex-direction: column;
		padding: 30px 0px 0px 0px;
	}
	.footer__lower-copy {
		padding: 0px 00px 30px 0px;
	}
}